@model IEnumerable<Movies.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new AjaxOptions()
{
    HttpMethod = "GET",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "create-movie"

}, new { @class = "btn btn-primary" })
</p>
<div id="create-movie"> </div>
<div id="edit-movie"> </div>
<div id="details-movie"> </div>
<div id="delete-movie"></div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Director)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Studio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudioAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeadMaleActorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeadFemaleActorId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Studio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudioAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeadMaleActor.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeadFemaleActor.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new AjaxOptions()
           {
               HttpMethod = "GET",
               InsertionMode = InsertionMode.Replace,
               UpdateTargetId = "edit-movie"

           }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new AjaxOptions()
           {
               HttpMethod = "GET",
               InsertionMode = InsertionMode.Replace,
               UpdateTargetId = "details-movie"

           }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new AjaxOptions()
           {
               HttpMethod = "GET",
               InsertionMode = InsertionMode.Replace,
               UpdateTargetId = "delete-movie"

           })
            </td>
        </tr>
    }

</table>
